.sign-box {
  width: 640px;
  margin: 231px auto 231px;
  color: var(--gray800);
}

.sign-box-head {
  width: 396px;
  height: 132px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 40px;
}

.sign-box-logo {
  display: block;
  width: 104px;
}

.sign-box-shopname {
  font-family: ROKAF Sans;
  font-size: 66px;
  font-weight: 700;
  display: inline-block;
  color: var(--blue);
}

.sign-box label {
  font-size: 18px;
  font-weight: 700;
  width: 100%;
}

.sign-box input {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 56px;
  margin: 16px 0 24px;
  padding: 16px 24px;
  border: none;
  border-radius: 12px;
  background-color: var(--gray100);
}

.pw-input-box {
  position: relative;
}

.pw-eye-icon-off {
  position: absolute;
  right: 24px;
  bottom: 40px;
}

.pw-eye-icon-on {
  display: none;
  position: absolute;
  right: 24px;
  bottom: 40px;
}

.sign-email-error,
.sign-nickname-error,
.sign-pw-error,
.sign-pwcheck-error {
  font-size: 14px;
  font-weight: 600;
  color: red;
  margin: -16px auto 24px 16px;
  position: relative;
}

input:focus {
  outline-color: var(--blue);
}

.sign-box-submit {
  background-color: var(--gray400);
  width: 100%;
  height: 56px;
  border-radius: 28px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: var(--gray100);
}

.sign-box-submit:not(disabled):hover {
  background-color: var(--blue);
}

.sign-box-submit:disabled {
  background-color: var(--gray400) !important;
  cursor: not-allowed;
}

.oauth-bar {
  width: 100%;
  height: 74px;
  background-color: var(--lightblue);
  border-radius: 8px;
  margin: 24px 0;
  padding: 0 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.oauth-bar-title {
  font-size: 16px;
  font-weight: 500;
  height: 26px;
  padding-top: 5px;
}

.oauth-icons {
  width: 100px;
  height: 42px;
  display: flex;
  justify-content: space-between;
}

.sign-box-bottom {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.sign-box-bottom-link {
  text-decoration: underline;
}

@media (1199px > width >= 768px) {
}

@media (767px > width) {
  .sign-box {
    max-width: 432px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .sign-box-head {
    width: 198px;
    height: 66px;
  }

  .sign-box-logo {
    width: 52px;
  }

  .sign-box-shopname {
    font-size: 33px;
  }

  .sign-box label {
    font-size: 14px;
  }
}
