@import "global.css";

html,
body {
  margin: 0;
  width: 100%;
  font-family: Pretendard;
  min-width: 375px;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.header-nav {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.header-logo-shopname {
  width: 153px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 40px;
}

.header-shopname {
  font-family: ROKAF Sans;
  font-size: 26px;
  font-weight: 700;
  color: var(--blue);
  display: inline-block;
}

button:hover {
  cursor: pointer;
}

.header-btn {
  padding: 12px 23px;
  color: var(--gray100);
  border-radius: 8px;
  border: none;
  background-color: var(--blue);
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}

main {
  width: 100%;
  margin-top: 70px;
}

.hero {
  width: 100%;
  height: 540px;
  background-color: var(--lightblue);
}

.heromain {
  max-width: 1110px;
  height: 340px;
  position: relative;
  margin: 0 auto;
  top: 200px;
}

.heromain-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 340px;
}

.heromain-phrase {
  font-size: 40px;
  font-weight: 700;
  color: var(--gray700);
  position: absolute;
  top: 20px;
}

.heromain-btn {
  padding: 16px 124px;
  background-color: var(--blue);
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 40px;
  color: var(--gray50);
  position: absolute;
  bottom: 100px;
}

section:not(.bottom) {
  width: 988px;
  height: 444px;
  margin: 138px auto 276px;
  position: relative;
  display: flex;
  gap: 60px;
}

section:not(.bottom):nth-of-type(even) {
  flex-direction: row-reverse;
}

.box-img {
  width: 579px;
  height: 100%;
}

.box-txt {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-txt-1 {
  color: var(--blue);
  font-size: 18px;
  font-weight: 700;
}

.box-txt-2 {
  color: var(--gray700);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.box-txt-3 {
  color: var(--gray700);
  font-size: 24px;
  font-weight: 500;
}

.bottom {
  background-color: var(--lightblue);
  width: 100%;
  height: 540px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.bottom-wrap {
  max-width: 1110px;
  height: 397px;
  display: flex;
  justify-content: space-between;
}

.bottom-phrase {
  color: var(--gray700);
  font-size: 40px;
  font-weight: 700;
}

.bottom-img {
  height: 397px;
}

footer {
  background-color: var(--gray900);
  height: 160px;
}

.footer-wrap {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px;
  font-size: 16px;
  font-weight: 400;
}

.copyright {
  color: var(--gray400);
  font-size: 16px;
  font-weight: 400;
}

.footer-nav {
  display: flex;
  gap: 40px;
}

.footer-nav-a {
  color: var(--gray200);
  font-size: 16px;
  font-weight: 400;
}

.footer-sns {
  display: inline-block;
  list-style: none;
}

.footer-sns-li {
  float: left;
  margin-left: 12px;
}

.footer-sns-ico {
  height: 20px;
}

.sign-box {
  width: 640px;
  margin: 231px auto 231px;
  color: var(--gray800);
}

.sign-box-head {
  width: 396px;
  height: 132px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 40px;
}

.sign-box-logo {
  display: block;
  width: 104px;
}

.sign-box-shopname {
  font-family: ROKAF Sans;
  font-size: 66px;
  font-weight: 700;
  display: inline-block;
  color: var(--blue);
}

.sign-box label {
  font-size: 18px;
  font-weight: 700;
  width: 100%;
}

.sign-box input {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 56px;
  margin: 16px 0 24px;
  padding: 16px 24px;
  border: none;
  border-radius: 12px;
  background-color: var(--gray100);
}

.pw-input-box {
  position: relative;
}

.pw-eye-icon-off {
  position: absolute;
  right: 24px;
  bottom: 40px;
}

.pw-eye-icon-on {
  display: none;
  position: absolute;
  right: 24px;
  bottom: 40px;
}

.sign-email-error,
.sign-nickname-error,
.sign-pw-error,
.sign-pwcheck-error {
  font-size: 14px;
  font-weight: 600;
  color: red;
  margin: -16px auto 24px 16px;
  position: relative;
}

input:focus {
  outline-color: var(--blue);
}

.sign-box-submit {
  background-color: var(--gray400);
  width: 100%;
  height: 56px;
  border-radius: 28px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: var(--gray100);
}

.sign-box-submit:not(disabled):hover {
  background-color: var(--blue);
}

.sign-box-submit:disabled {
  background-color: var(--gray400) !important;
  cursor: not-allowed;
}

.oauth-bar {
  width: 100%;
  height: 74px;
  background-color: var(--lightblue);
  border-radius: 8px;
  margin: 24px 0;
  padding: 0 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.oauth-bar-title {
  font-size: 16px;
  font-weight: 500;
  height: 26px;
  padding-top: 5px;
}

.oauth-icons {
  width: 100px;
  height: 42px;
  display: flex;
  justify-content: space-between;
}

.sign-box-bottom {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.sign-box-bottom-link {
  text-decoration: underline;
}

@media (width >= 1200px) {
}

@media (1199px > width >= 768px) {
  .header-nav {
    padding-left: 24px;
    padding-right: 24px;
  }
  .hero {
    height: 771px;
  }

  .heromain {
    height: 771px;
    top: auto;
    text-align: center;
  }

  .heromain-img {
    width: 744px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .heromain-phrase {
    display: inline-block;
    left: 0;
    right: 0;
    top: 84px;
    margin-top: 0;
  }

  .heromain-phrase br {
    display: none;
  }

  .heromain-link {
    display: inline;
    position: absolute;
    width: 100%;
    height: 56px;
    top: 258px;
    left: 0;
    right: 0;
    text-align: center;
  }

  .heromain-btn {
    position: relative;
    margin: 0 auto;
  }

  section:not(.bottom) {
    width: 696px;
    height: 708px;
    flex-direction: column;
    margin: 24px auto 52px;
    gap: 0;
  }

  section:not(.bottom):nth-of-type(even) {
    flex-direction: column;
    text-align: right;
  }

  .box-img {
    width: 100%;
    height: 524px;
  }

  .box-txt {
    display: inline;
  }

  .box-txt-2 {
    font-size: 32px;
  }

  .box-txt-2 br {
    display: none;
  }

  .box-txt-3 {
    font-size: 18px;
  }

  .bottom {
    height: 927px;
  }

  .bottom-wrap {
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    height: fit-content;
  }

  .bottom-phrase {
    text-align: center;
    margin-bottom: 217px;
  }
}

@media (767px > width) {
  .header-nav {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header-logo-shopname {
    justify-content: left;
  }

  .header-logo {
    display: none;
  }

  .hero {
    height: 540px;
    margin-bottom: 52px;
  }

  .heromain {
    height: 540px;
    top: 0;
    text-align: center;
  }

  .heromain-img {
    width: 448px;
    height: 204px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .heromain-phrase {
    display: inline-block;
    left: 0;
    right: 0;
    top: 48px;
    margin-top: 0;
    font-size: 32px;
    line-height: 45px;
  }

  .heromain-phrase br {
    display: initial;
  }

  .heromain-link {
    display: inline;
    position: absolute;
    width: 240px;
    height: 48px;
    top: 250px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
  }

  .heromain-btn {
    position: relative;
    margin: 0 auto;
    font-size: 18px;
    padding: 12px 71px;
    white-space: nowrap;
  }

  section:not(.bottom) {
    width: 344px;
    height: 417px;
    flex-direction: column;
    gap: 0;
    margin: 40px auto;
  }

  section:not(.bottom):nth-of-type(even) {
    flex-direction: column;
    text-align: right;
  }

  .box-img {
    width: 100%;
    height: 259px;
  }

  .box-txt {
    display: inline;
  }

  .box-txt-1 {
    font-size: 16px;
  }

  .box-txt-2 {
    font-size: 24px;
  }

  .box-txt-2 br {
    display: none;
  }

  .box-txt-3 {
    font-size: 16px;
  }

  .bottom {
    height: 540px;
    margin-top: 83px;
  }

  .bottom-wrap {
    width: 375px;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .bottom-phrase {
    text-align: center;
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 131px;
  }

  .bottom-img {
    width: 375px;
    height: 198px;
  }

  .footer-wrap {
    max-width: initial;
    height: 96px;
    position: relative;
    top: 32px;
    padding: initial;
  }

  .copyright {
    position: absolute;
    left: 16px;
    bottom: 0;
    margin: 0;
  }

  .footer-nav {
    gap: 0;
    position: absolute;
    top: 0;
    left: 16px;
    margin: 0;
  }

  .footer-nav-a,
  .footer-sns {
    white-space: nowrap;
  }

  .footer-nav-a:first-of-type {
    margin-right: 30px;
  }

  .footer-sns {
    position: absolute;
    top: 0;
    right: 16px;
    margin: 0;
  }

  .sign-box {
    max-width: 432px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .sign-box-head {
    width: 198px;
    height: 66px;
  }

  .sign-box-logo {
    width: 52px;
  }

  .sign-box-shopname {
    font-size: 33px;
  }

  .sign-box label {
    font-size: 14px;
  }
}
