@font-face {
  font-family: "ROKAF Sans";
  src: url("font/ROKAF\ Sans\ Medium.otf") format(".otf");
}

:root {
  --blue: #3692ff;
  --lightblue: #cfe5ff;
  --gray50: #f9fafb;
  --gray100: #f3f4f6;
  --gray200: #e5e7eb;
  --gray400: #9ca3af;
  --gray500: #6b7280;
  --gray600: #4b5563;
  --gray700: #374151;
  --gray800: #1f2937;
  --gray900: #111827;
}

* {
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

html,
body {
  margin: 0;
  width: 100%;
  font-family: Pretendard;
  min-width: 375px;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}

header > nav {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

header a:first-of-type {
  width: 153px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 40px;
}

header span {
  font-family: ROKAF Sans;
  font-size: 26px;
  font-weight: 700;
  color: var(--blue);
  display: inline-block;
}

button:hover {
  cursor: pointer;
}

header button {
  padding: 12px 23px;
  color: var(--gray100);
  border-radius: 8px;
  border: none;
  background-color: var(--blue);
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}

main {
  width: 100%;
  margin-top: 70px;
}

.hero {
  width: 100%;
  height: 540px;
  background-color: var(--lightblue);
}

.heromain {
  max-width: 1110px;
  height: 340px;
  position: relative;
  margin: 0 auto;
  top: 200px;
}

.heromain > img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 340px;
}

.heromain > h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--gray700);
  position: absolute;
  top: 20px;
}

.heromain button {
  padding: 16px 124px;
  background-color: var(--blue);
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 40px;
  color: var(--gray50);
  position: absolute;
  bottom: 100px;
}

section:not(.bottom) {
  width: 988px;
  height: 444px;
  margin: 138px auto 276px;
  position: relative;
  display: flex;
  gap: 60px;
}

section:not(.bottom):nth-of-type(even) {
  flex-direction: row-reverse;
}

.box-img {
  width: 579px;
  height: 100%;
}

.box-txt {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-txt > h2 {
  color: var(--blue);
  font-size: 18px;
  font-weight: 700;
}

.box-txt > h3 {
  color: var(--gray700);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.box-txt > p {
  color: var(--gray700);
  font-size: 24px;
  font-weight: 500;
}

.bottom {
  background-color: var(--lightblue);
  width: 100%;
  height: 540px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.bottom > div {
  max-width: 1110px;
  height: 397px;
  display: flex;
  justify-content: space-between;
}

.bottom h2 {
  color: var(--gray700);
  font-size: 40px;
  font-weight: 700;
}

.bottom img {
  height: 397px;
}

footer {
  background-color: var(--gray900);
  height: 160px;
}

footer > div {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px;
  font-size: 16px;
  font-weight: 400;
}

.copyright {
  color: var(--gray400);
  font-size: 16px;
  font-weight: 400;
}

.footer-nav {
  display: flex;
  gap: 40px;
}

.footer-nav > a {
  color: var(--gray200);
  font-size: 16px;
  font-weight: 400;
}

.snsicons {
  display: inline-block;
  list-style: none;
}

.snsicons > li {
  float: left;
  margin-left: 12px;
}

.snsicons img {
  height: 20px;
}

.login-box {
  width: 640px;
  margin: 231px auto 231px;
  color: var(--gray800);
}

.login-box-head {
  width: 396px;
  height: 132px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 40px;
}

.login-box-logo {
  display: block;
  width: 104px;
}

.login-box-head > span {
  font-family: ROKAF Sans;
  font-size: 66px;
  font-weight: 700;
  display: inline-block;
  color: var(--blue);
}

.login-box label {
  font-size: 18px;
  font-weight: 700;
  width: 100%;
}

.login-box input {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 56px;
  margin: 16px 0 24px;
  padding: 16px 24px;
  border: none;
  border-radius: 12px;
  background-color: var(--gray100);
}

.pw-input-box {
  position: relative;
}

.pw-eye-icon {
  position: absolute;
  right: 24px;
  bottom: 40px;
}

input:focus {
  outline-color: var(--blue);
}

.login-box button {
  background-color: var(--gray400);
  width: 100%;
  height: 56px;
  border-radius: 28px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: var(--gray100);
}

.login-box button:hover {
  background-color: var(--blue);
}

.oauth-bar {
  width: 100%;
  height: 74px;
  background-color: var(--lightblue);
  border-radius: 8px;
  margin: 24px 0;
  padding: 0 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.oauth-bar > h2 {
  font-size: 16px;
  font-weight: 500;
  height: 26px;
  padding-top: 5px;
}

.oauth-bar > div {
  width: 100px;
  height: 42px;
  display: flex;
  justify-content: space-between;
}

.login-box > span {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.login-box > span > a {
  text-decoration: underline;
}

@media (width >= 1200px) {
}

@media (1199px > width >= 768px) {
  header > nav {
    padding-left: 24px;
    padding-right: 24px;
  }
  .hero {
    height: 771px;
  }

  .heromain {
    height: 771px;
    top: auto;
    text-align: center;
  }

  .heromain > img {
    width: 744px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .heromain > h1 {
    display: inline-block;
    left: 0;
    right: 0;
    top: 84px;
    margin-top: 0;
  }

  .heromain > h1 br {
    display: none;
  }

  .heromain > a {
    display: inline;
    position: absolute;
    width: 100%;
    height: 56px;
    top: 258px;
    left: 0;
    right: 0;
    text-align: center;
  }

  .heromain button {
    position: relative;
    margin: 0 auto;
  }

  section:not(.bottom) {
    width: 696px;
    height: 708px;
    flex-direction: column;
    margin: 24px auto 52px;
    gap: 0;
  }

  section:not(.bottom):nth-of-type(even) {
    flex-direction: column;
    text-align: right;
  }

  .box-img {
    width: 100%;
    height: 524px;
  }

  .box-txt {
    display: inline;
  }

  .box-txt > h3 {
    font-size: 32px;
  }

  .box-txt > h3 br {
    display: none;
  }

  .box-txt > p {
    font-size: 18px;
  }

  .bottom {
    height: 927px;
  }

  .bottom > div {
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    height: fit-content;
  }

  .bottom h2 {
    text-align: center;
    margin-bottom: 217px;
  }
}

@media (767px > width) {
  header > nav {
    padding-left: 16px;
    padding-right: 16px;
  }

  header a:first-of-type {
    justify-content: left;
  }

  header img {
    display: none;
  }

  .hero {
    height: 540px;
    margin-bottom: 52px;
  }

  .heromain {
    height: 540px;
    top: 0;
    text-align: center;
  }

  .heromain > img {
    width: 448px;
    height: 204px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .heromain > h1 {
    display: inline-block;
    left: 0;
    right: 0;
    top: 48px;
    margin-top: 0;
    font-size: 32px;
    line-height: 45px;
  }

  .heromain > h1 br {
    display: initial;
  }

  .heromain > a {
    display: inline;
    position: absolute;
    width: 240px;
    height: 48px;
    top: 250px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
  }

  .heromain button {
    position: relative;
    margin: 0 auto;
    font-size: 18px;
    padding: 12px 71px;
    white-space: nowrap;
  }

  section:not(.bottom) {
    width: 344px;
    height: 417px;
    flex-direction: column;
    gap: 0;
    margin: 40px auto;
  }

  section:not(.bottom):nth-of-type(even) {
    flex-direction: column;
    text-align: right;
  }

  .box-img {
    width: 100%;
    height: 259px;
  }

  .box-txt {
    display: inline;
  }

  .box-txt > h2 {
    font-size: 16px;
  }

  .box-txt > h3 {
    font-size: 24px;
  }

  .box-txt > h3 br {
    display: none;
  }

  .box-txt > p {
    font-size: 16px;
  }

  .bottom {
    height: 540px;
    margin-top: 83px;
  }

  .bottom > div {
    width: 375px;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .bottom h2 {
    text-align: center;
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 131px;
  }

  .bottom img {
    width: 375px;
    height: 198px;
  }

  footer > div {
    max-width: initial;
    height: 96px;
    position: relative;
    top: 32px;
    padding: initial;
  }

  .copyright {
    position: absolute;
    left: 16px;
    bottom: 0;
    margin: 0;
  }

  .footer-nav {
    gap: 0;
    position: absolute;
    top: 0;
    left: 16px;
    margin: 0;
  }

  .footer-nav > a,
  .snsicons {
    white-space: nowrap;
  }

  .footer-nav > a:first-of-type {
    margin-right: 30px;
  }

  .snsicons {
    position: absolute;
    top: 0;
    right: 16px;
    margin: 0;
  }

  .login-box {
    max-width: 432px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .login-box-head {
    width: 198px;
    height: 66px;
  }

  .login-box-logo {
    width: 52px;
  }

  .login-box-head > span {
    font-size: 33px;
  }

  .login-box label {
    font-size: 14px;
  }
}
